<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/headerLog', {current: `formProductos`}) %>
    </header>

    <div class="jumbotron">
        <div class="jumbotron">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">STOCK</th>
                        <th scope="col">IMAGEN</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">
                            <%= productbyId.id %>
                        </th>
                        <td>
                            <%= productbyId.nombre %>
                        </td>
                        <td>
                            <%= productbyId.descripcion %>
                        </td>
                        <td>
                            €<%= productbyId.precio %>
                        </td>
                        <td>
                            <%= productbyId.stock %>
                        </td>
                        <td>
                            <img src="<%= productbyId.thumbnail %>" width="60" height="60">
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>