<h1 style="color:green"> 
    <%- titulo %> 
</h1>

<span><%= min+"" %> </span>
<meter style="width:50%; height:20px; margin:20px auto;" value="<%= nivel %>" min="<%= min %> " max="<%= max %>"></meter>
<span><%= ""+max %> </span>